@model gdoc.Models.Documento

@{
    ViewBag.Title = "GDOC - Detalhes do Documento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>Documento</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.nomeArquivo)
        </dt>

        <dd>
            <span class="label label-info">
                <b>
                <a target="_blank" href="~/arquivos/@Html.DisplayFor(model => model.nomeArquivo)">@Html.DisplayFor(model => model.nomeArquivo)</a>
                </b>
            </span> 
</dd>


        <dt>
            @Html.DisplayNameFor(model => model.nomeDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomeDocumento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoDocumento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.observacaoDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.observacaoDocumento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataCadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataCadastro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Alterar", "Edit", new { id = Model.idDocumento }) |
    @Html.ActionLink("Documentos Cadastrados", "index")
</p>
