@model gdoc.Models.Documento

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar documento</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Editar documento</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idDocumento)

        <div class="form-group">
            @Html.LabelFor(model => model.nomeDocumento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nomeDocumento, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nomeDocumento, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">
                    Arquivo Atual
            </label>
        </div>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        Arquivo:
                    </label>
                    <div class="col-md-10">
                        <input type="file" name="arquivo" id="arquivo" required />
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.tipoDocumento, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <select name="tipoDocumento" id="tipoDocumento" class="form-control">
                            <option value=""></option>
                            <option value="1"
                                    @if (Model.tipoDocumento == "1")
                                    {
                                        @Html.Raw("selected='selected'")
                                    }
                                    >Conta</option>
                            <option value="2"
                                    @if (Model.tipoDocumento == "2")
                                    {
                                       @Html.Raw("selected='selected'")
                                    }
                                    >Cheque</option>
                            <option value="3"
                                    @if (Model.tipoDocumento == "3")
                                    {
                                       @Html.Raw("selected='selected'")
                                    }
                                    >Recibo</option>
                            <option value="4"
                                    @if (Model.tipoDocumento == "4")
                                    {
                                       @Html.Raw("selected='selected'")
                                    }
                                    >Comprovante de Pagamento</option>
                            <option value="5" 
                                    @if (Model.tipoDocumento == "5")
                                    {
                                       @Html.Raw("selected='selected'")
                                    }
                                    >Foto</option>
                            <option value="6"
                                    @if (Model.tipoDocumento == "6")
                                    {
                                       @Html.Raw("selected='selected'")
                                    }
                                    >Contracheque</option>
                            <option value="7"
                                    @if (Model.tipoDocumento == "7")
                                    {
                                        @Html.Raw("selected='selected'")
                                    }
                                    >Nota fiscal</option>
                            <option value="8"
                                    @if (Model.tipoDocumento == "8")
                                    {
                                        @Html.Raw("selected='selected'")
                                    }
                                    >Rifa</option>
                            <option value="9"
                                    @if (Model.tipoDocumento == "9")
                                    {
                                       @Html.Raw("selected='selected'")
                                    }
                                    >Canhoto</option>
                            <option value="10"
                                    @if (Model.tipoDocumento == "10")
                                    {
                                       @Html.Raw("selected='selected'")
                                    }
                                    >Bilhete de cinema</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.tipoDocumento, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.observacaoDocumento, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.observacaoDocumento, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.observacaoDocumento, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.dataCadastro, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.dataCadastro, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.dataCadastro, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
        </div>
        }

        <div>
            @Html.ActionLink("Documentos Cadastrados", "index")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
