@using PagedList;
@using PagedList.Mvc;
@model IPagedList<gdoc.Models.Documento>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Documentos Cadastrados</h2>

<p>
    @Html.ActionLink("Cadastrar Novo Documento", "criar")
</p>
<table class="table">
<thead>
    <tr>
        <th>
            Documento
        </th>
        <th>
            Tipo de documento
        </th>
        <th>
            Observação
        </th>
        <th>
            Data de cadastro
        </th>
        <th>
            Ações
        </th>
    </tr>
</thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nomeDocumento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipoDocumento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.observacaoDocumento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dataCadastro)
                </td>
                <td>
                    @Html.ActionLink("Alterar", "editar", new { id = item.idDocumento }) |
                    @Html.ActionLink("Detalhes", "detalhe", new { id = item.idDocumento }) |
                    @Html.ActionLink("Excluir", "excluir", new { id = item.idDocumento })
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.HasNextPage || Model.HasPreviousPage)
{
    <div style="text-align: center">
        @Html.PagedListPager(Model, (page) => Url.Action("Index", new { page = page, filtro = @ViewBag.filtro }), PagedListRenderOptions.Classic)
    </div>
}